@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 70px;
}

.main_left{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.main_right{
    width: 600px;
    height: 729px;
    background-image: url(../assets/chris-lee-70l1tDAI6rM-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 178px;
}

.left_title{
    font-size: 40px;
    font-weight: 520;
    padding-bottom: 60px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.inp{
    display: flex;
    flex-direction: column;
}

.label{
    font-family: 'Poppins';
    font-weight: 420;
    font-size: 14px;
}

.input{
    width: 404px;
    height: 35px;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    border: 1px solid #D9D9D9;
}

.terms{
    display: flex;
    gap: 6px;
    font-size: 14px;
}

#checkbox{
    accent-color: black;
}

a{
    color: black;
}

.btn{
    width: 404px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 550;
    background-color: #3A5B22;
    cursor: pointer;
}

.or{
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 5px;
    padding-top: 59px;
    padding-bottom: 59px;
}

.or_hr{
    width: 187px;
    height: 3px;
    background-color: #F5F5F5;
    border: none;
}

.sign_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.signInWith{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 190px;
    height: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sign_in{
    display: flex;
    flex-direction: column;
}